<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Vista de ordenes</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <table id="customers">
        <tr>
            <td><b>Nombre:</b> {{data.name}}</td>
            <td><b>Fecha:</b> {{data.date}}</td>
        </tr>
        <tr>
            <td><b>Estado:</b> {{data.status}}</td>
            <td></td>
        </tr>
    </table>
    <div class="responsive_table">
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let element">{{element.price}}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">{{element.total}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
        </table>
    </div>
    <table id="customers">
        <tr>
            <td><b>Total: </b> {{totalAmount}}<b> Bs.</b></td>
        </tr>
        
    </table>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="accent" type="submit" (click)="getPdf()"><mat-icon>print</mat-icon>Compra</button>
    <button mat-raised-button color="warn" type="submit" (click)="getPdf()"><mat-icon>print</mat-icon>Reporte</button>
    <button mat-raised-button  mat-dialog-close> Cerrar</button>
</mat-dialog-actions>