.mat-toolbar{
   
    width:  auto;
}
.title-center{
    flex:  1 1 auto;
    text-align: center;
    color: #fff;
}
mat-form-field{
    padding: 5px;

}
.input_btn{
    padding-bottom: 10px;
}
.custom-file-input {
    color: transparent;
    
}

