<mat-card>
    <div class="principal">
        <div><b><span>Administrar Ventas</span></b></div>
        <div class="btn_two"><button [disabled]="validateSubmit()" (click)="submitAction()">Enviar && Print ticket</button>
            <button (click)="handleAction()">Agregar Cliente</button>
        </div>
    </div>


</mat-card>


<hr>
<!--<ul>
    <li *ngFor="let elemento of arreglo1; let indice=index; let impar=odd; trackBy: rastrearPor;let primero=first; let ultimo=last">
      El {{elemento}} está en la posición {{indice}} se encuentra en una posición {{impar?'impar':'par'}}
      {{primero?'es el primero del arreglo':''}} {{ultimo?'es el último del arreglo':''}}
    </li>
  </ul>--->
<mat-card>
    <div class="titulo">
        <b><span>Detalles de cliente</span></b>
    </div>

    <form [formGroup]="manageOrderForm">

        <div fxFlex fxLayout="column">
            <br>
            <div class="item-1">
                <div class="principal">
                    <div><b><span>Clientes</span></b></div>
                    
                </div>
                <ng-select formControlName="subUser" placeholder="Selecciona nombre,correo, #cel" appendTo="body"
                    [multiple]="false" (change)="getSubUserById($event)" itemsListMaxHeight="2">
                    <ng-option *ngFor="let subUser of subUsers; let indice=index;" [value]="subUser.id">{{subUser.name}}
                        {{ subUser.email}} {{ subUser.phone}}</ng-option>
                </ng-select>
            </div>
            <br>
            <div class="contenedor">

                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" required readonly>
                        <mat-error
                            *ngIf="manageOrderForm.controls.name.touched && manageOrderForm.controls.name.invalid">
                            <span *ngIf="manageOrderForm.controls.name.errors.required">This Field is mandatory</span>
                            <span *ngIf="manageOrderForm.controls.name.errors.pattern">This Field is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="email" required readonly>
                        <mat-error
                            *ngIf="manageOrderForm.controls.email.touched && manageOrderForm.controls.email.invalid">
                            <span *ngIf="manageOrderForm.controls.email.errors.required">This Field is mandatory</span>
                            <span *ngIf="manageOrderForm.controls.email.errors.pattern">This Field is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Numero de contacto</mat-label>
                        <input matInput formControlName="contactNumber" required readonly>
                        <mat-error
                            *ngIf="manageOrderForm.controls.contactNumber.touched && manageOrderForm.controls.contactNumber.invalid">
                            <span *ngIf="manageOrderForm.controls.contactNumber.errors.required">This Field is
                                mandatory</span>
                            <span *ngIf="manageOrderForm.controls.contactNumber.errors.pattern">This Field is
                                invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Metodo de pago</mat-label>
                        <mat-select matInput formControlName="paymentMethod" required>
                            <mat-option value="Efectivo">Efectivo</mat-option>
                            <mat-option value="Pago Qr">Pago QR</mat-option>
                            <mat-option value="Debit Card">Debit Card</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="manageOrderForm.controls.paymentMethod.touched && manageOrderForm.controls.paymentMethod.invalid">
                            <span *ngIf="manageOrderForm.controls.paymentMethod.errors.required">This Field is
                                mandatory</span>
                            <span *ngIf="manageOrderForm.controls.paymentMethod.errors.pattern">This Field is
                                invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <div>
        <button mat-flat-button color="primary" [disabled]="variable_btn"
            (click)="addDetail()">{{statusClienteTxt}}</button>
    </div>
</mat-card>
<hr>
<mat-card>
    <div class="titulo"><b><span>Seleccione Menu</span></b></div>

    <form [formGroup]="manageOrderForm">
        <div fxFlex fxLayout="column">
            <div class="contenedor">
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Categorias</mat-label>
                        <mat-select formControlName="category" (selectionChange)="getMenuByCAtegory($event.value)">
                            <mat-option *ngFor="let category of categorys"
                                [value]="category">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Menu</mat-label>
                        <mat-select formControlName="menu" (selectionChange)="getMenuDetails($event.value)">
                            <mat-option *ngFor="let menu of menus" [value]="menu">{{menu.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Precio</mat-label>
                        <input matInput formControlName="price" required readonly>
                        <mat-error
                            *ngIf="manageOrderForm.controls.price.touched && manageOrderForm.controls.price.invalid">
                            <span *ngIf="manageOrderForm.controls.price.errors.required">This Field is mandatory</span>
                            <span *ngIf="manageOrderForm.controls.price.errors.pattern">This Field is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="quantity" required (keyup)="setQuantity($event)" #input>
                        <mat-error
                            *ngIf="manageOrderForm.controls.quantity.touched && manageOrderForm.controls.quantity.invalid">
                            <span *ngIf="manageOrderForm.controls.quantity.errors.required">This Field is
                                mandatory</span>
                            <span *ngIf="manageOrderForm.controls.quantity.errors.pattern">This Field is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Detalle</mat-label>
                        <input matInput formControlName="note" #input>
                        
                    </mat-form-field>
                </div>

                <div class="item-1">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Total</mat-label>
                        <input matInput formControlName="total" required readonly>
                        <mat-error
                            *ngIf="manageOrderForm.controls.total.touched && manageOrderForm.controls.total.invalid">
                            <span *ngIf="manageOrderForm.controls.total.errors.required">This Field is mandatory</span>
                            <span *ngIf="manageOrderForm.controls.total.errors.pattern">This Field is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <div>
        <button mat-flat-button color="primary" [disabled]="validateProductAdd()" (click)="add()">Adicionar</button>
        <button mat-flat-button color="primary" class="float-right">Total a pagar: {{totalAmount}}</button>
    </div>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef>Detalle</th>
            <td mat-cell *matCellDef="let element">{{element.note}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">{{element.total}}</td>
        </ng-container>
        
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element; let i=index" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(i,element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    </table>
</div>