mat-form-field{
    padding: 5px;
}mat-form-field{
    padding: 5px;
}
.float-right{
    float: right;
}
table{
    width: 100%;
}
.principal{
    
    span{
        color: rgb(97, 96, 96);
    }
    button{
        margin-left: 5px;
        cursor: pointer;
       
    }
    
    
}
form{
    position: relative;
}












/*.contenedor{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:nowrap;
    width:100%;
    justify-content:space-between;
    .item-1{
        width: 100% !important;
    }
}/*
@media only screen and (min-width: 600px)  {
    .contenedor{
        
        display: flex;
        flex-wrap: wrap;
        width:100%;
        justify-content:space-between;
        .item-1{
            width: 50% !important;
        }
    }
}
@media only screen and (min-width: 800px)  {
    .contenedor{
        
        display: flex;
        flex-wrap: wrap;
        width:100%;
        justify-content:space-between;
        .item-1{
            width: 30% !important;
        }
    }
}
@media only screen and (min-width: 1024px)  {
    .contenedor{
        
        display: flex;
        flex-wrap: wrap;
        width:100%;
        justify-content:space-between;
        .item-1{
            width: 20% !important;
        }
    }
}
*/
